body{
    background-color: aquamarine;
}
h1{
    margin-top:20px;
}
.form{
    width:92%;
    height:auto;
    background-color:antiquewhite;
    padding-left:10px;
    padding-right:10px;
    border-width:2px brown;
    text-align:center;
    margin-top:50px;
    margin-left:50px;
    margin-right:50px;
}
input{
    text-align:left;
    box-sizing:border-box;
    padding:15px;
}
::placeholder{
    margin-left:10px;
    margin-top: 5px;
    margin-bottom:5px;
}
legend{
    text-align: left;
}
fieldset{
    width: 100px;

}
.gender{
    font-size:14;
}
h3{
    table-layout:fixed;
}
